/*body{
    width: 1440px;
    margin: auto;
}*/

body{
    font-family: 'Open Sans', sans-serif;
}

.poppins{
    font-family: 'Poppins', sans-serif;
}

/*---HEADER---*/

header{
    display: flex;
    justify-content: space-between;
}

#try{
    background-color: #fff;
    border: 2px solid hsl(322, 100%, 66%);
    border-radius: 25px;
    padding: 2px 25px;
}

#try a{
    text-decoration: none;
    color:hsl(322, 100%, 66%);
}

/*---SECTION1---*/

.container{
    width: 60%;
    margin: 100px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container p{
    width : 60%;
    margin: auto;
}


/*---BUTTON---*/


.container button{
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 25px;
    padding: 10px 35px;
    margin-top: 20px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container a{
    text-decoration: none;
    color: #fff;
}

.container button:hover{
    background-color: hsl(321, 100%, 78%);
}

/*---SECTION2 IMAGE---*/

.img-center{
    display: flex;
    justify-content: center;
}


/*---SECTION3 NUM---*/

.num-container{
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.big{
    font-size: 60px;
    margin: 0;
}

/*---SECTION4 GROW TOGETHER AND CIE*/

.col-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blue {
    background-color: #F6FBFF;
    margin-top: -5px;
}

.col-container div, .col-container img{
    width: 40%;
}