/*body{
    width: 1440px;
    margin: auto;
}*/

body{
    font-family: 'Open Sans', sans-serif;
    width: 1440px;
}

h1,h2{
    font-family: 'Poppins', sans-serif;
}

/*---HEADER---*/

header{
    display: flex;
    justify-content: space-between;
}



/*--- BUTTON HEADER--*/

.try{
    background-color: #fff;
    border: 2px solid hsl(322, 100%, 66%);
    border-radius: 25px;
    padding: 2px 25px;
}

.try a{
    text-decoration: none;
    color:hsl(322, 100%, 66%);
}

/*---SECTION1---*/

.container{
    width: 60%;
    margin: 100px auto;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container p{
    width : 60%;
    margin: auto;
}


/*---BUTTON---*/


button{
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 25px;
    padding: 10px 35px;
    margin-top: 20px;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

button a{
    text-decoration: none;
    color: #fff;
}

/*button:hover{
    background-color: hsl(321, 100%, 78%);
}*/

/*---SECTION2 IMAGE---*/

.img-center{
    display: flex;
    justify-content: center;
}


/*---SECTION3 NUM---*/

.num-container{
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

.big{
    font-size: 60px;
    margin: 0;
}

/*---SECTION4 GROW TOGETHER AND CIE*/

.col-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.blue {
    background-color: #F6FBFF;
    margin-top: -5px;
}

.col-container div, .col-container img{
    width: 40%;
}

.white{
    margin: 100px 0;
}

/*---FOOTER---*/

.footer-container{
    background-color: #00252E;
    color: #fff;
    margin-top: -5px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 100px;
}

.footer-container img{
    filter: brightness(0) invert(1)
}

.contact-left{
    font-size: 14px;
    width: 20%;
}

.contact-right{
    width: 30%;
    font-size: 14px;
}

.contact-right p{
    width: 78%;
}


.column{
    display: flex;
    align-items: center;
}

.column img{
    width: 5%;
    height: 5%;
    margin-right: 20px;
}

input[type="email"]{
    width: 290px;
    height: 30px;
}

input[type=submit]{ 
    background-color: hsl(322, 100%, 66%);
    border: none;
    border-radius: 5%;
    color: #FFF;
    padding: 10px 20px;
    margin-left: 30px;

}

/*---SOCIAL MEDIA---*/

.social{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.social img{
    width: 20%;
    height: 20%;
}